<div class="text-center mb-4">
  <h1 class="display-4">Personajes de Marvel</h1>
</div>

<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let character of characters">
      <div class="card">
        <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" class="card-img-top" alt="{{ character.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-text">{{ character.description || 'Descripción no disponible' }}</p>

          <!-- Mostrar solo los primeros dos cómics -->
          <div *ngIf="character.comics && character.comics.items.length > 0">
            <h6>Cómics:</h6>
            <ul>
              <li *ngFor="let comic of character.comics.items | slice:0:2">
                {{ comic.name }}
              </li>
            </ul>
          </div>

          <!-- Mostrar solo las primeras dos series -->
          <div *ngIf="character.series && character.series.items.length > 0">
            <h6>Series:</h6>
            <ul>
              <li *ngFor="let series of character.series.items | slice:0:2">
                {{ series.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>